  
#formRecipe{
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
}
input,textarea,select,button{
    border-radius: 10px;
    border:1px solid rgb(54, 11, 11);
    padding: 2px;
    color: rgb(54, 54, 54); 
    width: 200px;
    background-color: #c7b49b;
}
textarea {
    height: 150px;
}
select{
    width: 20%;
}
button{
    width: 15%;
    color: rgb(54, 54, 54);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.438);
    border: none;
    font-size: 12px;
    padding: 5px;
}
#formRecipe{
    display: flex;
    padding-top: 30px;
    justify-content: center;
}

form > div{
    margin-bottom: 15px;
}
form > div > button{
    margin-left: 20px;
}
.ingredient{
    display: flex;
    align-items: center;
}
.ingredient >input{
    margin-right: 20px;
}
.ingredient >div{
    display: flex;
    gap: 30px;
}
.ingredient select,button{
    width: 90px;
}