*,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://img.freepik.com/photos-premium/paysages-japonais-ukiyoe-estampes-ai-generation-montagnes-nuages-arbres-soleil-rouge_235573-2414.jpg?w=2000");
  background-size: cover;
  background-color: rgba(0, 27, 73, 0.185);
  background-blend-mode: multiply;
}

form,
#pageRecipe {
  backdrop-filter: blur(100px);
  padding: 20px;
}